<div *ngIf="pokemon && pokemonSpecies" class="container-fluid">
  <div class="row">
    <div class="col">
      <span class="text-muted">#{{ pokemon.id }}</span>
      <span class="">{{ pokemonSpecies.names | getTranslation: language }}</span>
    </div>
    <div class="col">
      <img class="" src="{{ pokemon.sprites.frontDefault }}"
           alt="Image de {{ pokemonSpecies.names | getTranslation: language }}">
    </div>
    <div class="col">
      <app-type *ngFor="let type of pokemon.types" [typeName]="type.type.name"></app-type>
    </div>
  </div>

  <app-moves [pokemonMoves]="pokemon.moves" ></app-moves>


</div>
