.pokemonItem {
  height: 130px;
  width: 230px;
}

.pokemonId {
  top: 10px;
  left: 10px;
}

.pokemonSprite {
  bottom: 0px;
  left: 0px;
}

.pokemonName {
  text-align: center;
  right: 80px;
  top: 10px;
}

.pokemonTypes {
  width: 66px;
  bottom: 20px;
  right: 20px;
}
