<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <div class="navbar-brand">Pokular</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pokédex
          </a>
          <div *ngIf="pokedexList" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let pokedex of pokedexList.results" routerLink="/pokedex/{{ pokedex.url | slice:pokedex.url.substring(0, pokedex.url.length-1).lastIndexOf('/'):pokedex.url.length-1}}" class="dropdown-item">{{ pokedex.name }}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
